@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;900&display=swap');


:root {
    --primary-color: #161C28;
    --primary-claro: #1C222B;
    --terciary-color: #28303F;
    --terciary-claro: #222A37;
    --secundary-color: #fff;
    --logo-color: #05fffe;
    --logo-color-two: #04CCCC;
    --logo-color-three: #298080;
}

html {
    font-size: 62.5%;    
}

body {
    background: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4rem;
}

a {
    text-decoration: none;
}

.menu-principal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    color: var(--secundary-color);
    text-decoration: none;
}

.menu-side-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 0 3rem;
}


.menu-side-bar h1 a img {
    height:10rem;
    
}

.menu-side-bar h1 a img:hover {
    opacity: 0.8;
}

.menu-ul {
    display: flex;
}

.menu-ul li {
    list-style: none;
}

.menu-button {
    margin: 1rem 2rem 0 0;
    border: none;
    background: none;
    width: 4rem;
    height: 4rem;
}

.menu-options {
    color: white;
    font-size: 4rem;
}

.menu-img {
    padding: 0.2rem;
    width: 100%;
    height: 100%;
}

.corpo-principal {
    min-height: 60vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.corpo-jogos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.corpo-jogos img {
    box-shadow: 0px 0px 5px 5px var(--logo-color);
    height: 35rem;
}

.corpo-jogos img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.corpo-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpo-informacoes-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    margin-top: 20vh;
}

.corpo-informacoes-topo h1, .corpo-informacoes-topo p{
    color: var(--secundary-color);
}

.corpo-informacoes-topo p {
    margin-top: 1rem;
    font-size: 2rem;
}

.corpo-informacoes-conteudo {
    background-color: var(--terciary-claro);
    min-height: 80vh;
    width: 80%;
    margin-bottom: 10vh;
    border-radius: 0.7rem;
    box-shadow: 0px 0px 10px var(--logo-color);
}

.corpo-download {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px var(--logo-color);
}

.corpo-download h1 {
    font-weight: 900;
    color: var(--logo-color);
}

.corpo-download div {
    font-family: 'Inter', sans-serif;
    margin-top: 2rem;
    background: var(--terciary-color);
    width: 30rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.corpo-download div p {
    color: var(--secundary-color);
}

.corpo-download div:hover {
    cursor: pointer;
    border: 0.5px solid var(--logo-color);
}

.borda-texto{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.719);
}

.footer-principal {
    height: 20rem;
}