@charset "UTF-8";

body {
    background-color: rgb(235, 246, 255);
}
header {
    text-align: center;
}
h1#intro {
    color: #A8653B;
}
h1 {
    color: white;
}
p {
    color: white;
    font-size: 50px;
    display: inline;
}
section {
    background-color: #A8653B;
    width: 300px;
    height: 270px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px black;
}

input {
    padding: 10px;
    border-radius: 10%;
    border-color: white;
}