<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="display-1 text-center">ERROR 404</h1>
            <p class="text-center lead">Seus contatos estão Abaixo</p>

            <div class="responsible-table">
                <table class="table my-3">
                    <tr>
                        <td>Marllon</td>
                        <td>Ribeiro</td>
                        <td>14516510561</td>
                        <td>marllonribeiro@gmail.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer') %>

    