.principal-footer {
    display: flex;
    justify-content: center;

    background: var(--primary-color);
    color: var(--secundary-color);
    
    padding: 7rem 0 4.8rem 0;
}

.principal-footer ul{
    list-style: none;
    margin: 0 7rem 0 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-footer ul li {
    font-size: 1.4rem;
    font-weight: 500;

    margin-bottom: 2.2rem;
}

.principal-footer ul li h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: -1.2rem;
}