.optional-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "pulseiras combos" "colares colares";
    text-align: center;
}

.optional-pulseira {
    grid-area: pulseiras;
}

.optional-colar {
    grid-area: colares;
}

.optional-combo {
    grid-area: combos;
}