@charset "UTF-8";

:root {
    --primary-color: #000;
    --secundary-color: #fff;
    --terciary-color-dark: #8E8E8E;
    --terciary-color: #A6A6A6;
    --font-primary: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--secundary-color);
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4.0rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 3.0rem;
}

.viewport {
    height: 100vh;
    width: 100%;
}

.back-black {
    background: var(--primary-color);
}

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.main-menu img {
    height: 7rem;
    width: 7rem;
    position: absolute;
    border-radius: 50%;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

.options-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0 2rem 0 2rem;
}

.options-menu li a {
    color: var(--secundary-color);
    font-size: 1.5rem;
    padding: 0 1rem 0 1rem;
}

.home {
    background: var(--primary-color);
    background-repeat: no-repeat; /* Tirar isso se não for usar imagem de fundo*/
    background-size: cover;
    background-position: center center;
}

.main-home {
    color: var(--secundary-color);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-home h1, h4, p {
    padding-bottom: 3rem;
}

.main-home h1 {
    font-weight: 900;
    font-size: 7rem;

    width: 40%;

    line-height: 7rem;
}

.main-home h4 {
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 1rem;
}

.main-home p {
    padding-top: 2rem;
    font-weight: 200;
    width: 40%;
    font-size: 2.7rem;
}

.button-home {
    margin-top: 4rem;
    height: 5rem;
    width: 25rem;
    border: 0.2rem solid var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-home a {
    color: var(--secundary-color);
    font-size: 1.5rem;
}

.products {
    text-align: center;
    padding-top: 15vh;
}

.products h2 {
    font-size: 5rem;
    font-weight: 100;
}

.products p {
    color: var(--terciary-color-dark);
    letter-spacing: 0.2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 200;
}

.grid-product {
    padding: 0 10rem 0 10rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-product {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-product img:hover {
    cursor: pointer;
}

.main-product img {
    box-shadow: 0px 0px 5px 1px;
    height: 40rem;
    width: 40rem;
}

.combo-product {
    color: var(--terciary-color);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 2.5rem 0 1rem 0;
}

.option-product {
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: var(--terciary-color-dark);
    font-size: 2rem;
}

.buy-product {
    color: var(--terciary-color);
    font-weight: 700;
    margin-top: 2rem;
    font-size: 1.7rem;
}

.main-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-vermais {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 20rem;

    font-size: 1.35rem;
    font-weight: 700;

    margin-top: 10rem;
    
    border: 0.2rem solid black;
}

.button-vermais:hover {
    cursor: pointer;
}