:root {
    --primary-color: #000;
    --secundary-color: #fff;
    --terciary-color-dark: #8E8E8E;
    --terciary-color: #A6A6A6;
    --terciary-color-light: #dfdfdf;
    --font-primary: 'Poppins', sans-serif;
}